﻿body {
    padding: 0;
}
.hidden{
    position: absolute;
    left: -10000px;
}
svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}
a {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 20px;
    transition: all 0.3s ease;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
#header {
    background-color: #000;
    padding: 0 10px;
    z-index: 999;
}
#logo-wrapper {
    padding: 5px;
    display: inline-block;
}
logo {
    display: inline-block;
    height: 72px;
}
#logo path {
    transition: fill .3s ease;
}
#logo:hover {
    fill: #00ff21;
}
#main-menu {
    float: right;
    height: 100%;
}
#main-menu ul li{
    display: inline-block;
    height: 100%;
    line-height: 67px;
}
#main-menu ul li a {
    display: block;
    padding: 0 20px;
    transition: all .3s ease;
}
#main-menu ul li a:hover {
    color: #00ff21;
    text-decoration: none;
}
#main-content {
    background-color: #2a2a2a;
}
.content-title {
    text-align: center;
    color: #fff;
}
.course-wrapper{
    margin-top: 20px;
}
.course-wrapper a img {
    display: block;
    transition: all .3s ease;
    border-radius: 20px;
    border: 1px solid transparent;
    opacity: 0.7;
}
.course-wrapper a img:hover {
    transform: scale(1.05);
    border: 1px solid #00ff21;
    opacity: 1;
}
.course-description{
    margin-top:15px;
    font-size: 16px;
}
#MainContent_Code_DataBase {
    margin-bottom: 50px;
}
#footer {
    background-color: #000;
    padding: 20px 40px;
}
footer p{
    color: #4f4f4f;
    font-size: 17px;
}
.footer-title {
    text-align: center;
}
#contacts-list li{
    margin-bottom:5px;
}
.social-links li{
    display: inline-block;
    font-size: 17px;
    margin-left: 20px;
}
.social-links li a i { 
    font-size: 40px;
}
iframe{
    display: block;
    width: 100%;
}
.mobile-menu {
    position: fixed;
    top: 67px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.9;
    z-index: 100;
    display: none;
}
.mobile-menu-active{
    display: block;
}
.mobile-menu ul{
    margin-top: 30px;
}
.mobile-menu ul li{
    padding:10px;
    border-bottom: 1px dotted #00ff21;
}
.mobile-menu ul li a {
    color: #00ff21;
    display: block;
}
.hamburger{
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 999;
    display: none;
    background-color: #fff;
    height: 3px;
    width: 40px
}
.hamburger::before, .hamburger::after{
    content: '';
    display: block;
    position: relative;
    top: -10px;
    background-color: #fff;
    height: 3px;
    width: 40px
}
.hamburger::after{
    top: 6px;
}
.callback-form{
    position: absolute;
    bottom: -10000px;
    right: 0;
    max-width: 400px;
    padding: 10px;
    display: none;
    transition: all 0.3s ease;
    max-height: 450px;
    background-color: #000;
    border: 1px solid #00ff21;
    color: #fff;
}
.callback-form input {
    color: #000;
}
    .callback-form-active {
    display: block;
    bottom: 10px;
    position: fixed;
}
.form-button {
    background: transparent;
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 997;
    border-radius: 20px;
}
.form-button:focus {
    outline: none;
}
#page-title{
    text-align: center;
    color: #fff;
}
.code-snippet {
    white-space: pre-wrap;
    background-color: #282923;
}
.code-snippet-wa{
    white-space: normal;
}
.code{
    margin-bottom: 30px;
}
.blue {
    color: #14cdf0;
}
.violet {
    color: #9e80ff;
}
.purple {
    color: #f92472;
}
.yellow {
    color: #e7db74;
}
.green{
    color: #6ff806;
}
.grey {
    color: #4f4f4f;
}

@media only screen and (max-width: 992px) {
    header{
        position: fixed;
        width: 100%;
    }
    #main-menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .content-title{
        margin-top: 100px;
    }
    .social-links{
        text-align: center;
    }
    .callback-form-active{
        bottom: 0;
        right: 0;
        width: 100%;
    }
    #page-title{
        margin-top:80px;
    }
}