﻿<%@ Page Title="Web Application" Language="C#" ViewStateMode="Enabled" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="WApplication.aspx.cs" Inherits="Guide.WebForm2" %>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    <h1 id="page-title">WEB Application</h1>
    <p>Im gonna explain how I designed mobile menu for this assignment. It is pretty simple! You should  realise the concept of this feature</p>
    
     <uctrl:CodeBox runat="server" id="Code" CodeToServe="wApplicationCode" />

</asp:Content>

